.loader {
  animation: loaderAnimations 3s infinite both alternate;
}
@keyframes loaderAnimations {
  0% {
    transform: scale(0.1) rotate(0deg);
  }
  25% {
    transform: scale(1.7) rotate(90deg);
  }
  50% {
    transform: scale(2.1) rotate(180deg);
  }
  75% {
    transform: scale(1.7) rotate(270deg);
  }
  100% {
    transform: scale(0.1) rotate(360deg);
  }
}
