.theHeadContainer::after {
  content: "";
  width: 0;
  border-style: solid;
  border-width: 16px;
  border-color: transparent transparent #1e1e1e #1e1e1e;
  position: absolute;
  left: 26.8%;
  top: 37px;
}
.theHeadContainer::before {
  content: "";
  width: 0;
  border-style: solid;
  border-width: 16px;
  border-color: transparent #1e1e1e #1e1e1e transparent;
  position: absolute;
  right: 26.8%;
  top: 37px;
  z-index: 999;
}
